body {
	display: flex;
	flex-direction: column;
	gap: 30px;
	padding: var(--padding);
	--padding: 20px;
	justify-content: center;
	background-color: #cbd5e1;
	font-size: 1.5rem;
}

main {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 23%));
	grid-template-rows: repeat(auto-fit, minmax(200px, auto-fit));
	gap: 23px;
	margin: var(--padding) 0px;
	justify-content: center;
}

button,
.add-book {
	margin: auto;
	padding: 10px;
	border-radius: 8px;
	border: none;
	background-color: #f8fafc;
	box-shadow: 3px 3px 5px #94a3b8;
	font-size: 1.5rem;
}

button:hover {
	transform: scale(1.05);
}

.card {
	display: flex;
	flex-direction: column;
	gap: 25px;
	background-color: #f8fafc;
	padding: var(--padding);
	border: none;
	border-radius: 8px;
	box-shadow: 3px 3px 5px #94a3b8;
}

h1,
h3,
p {
	text-align: center;
	margin: 0;
}

.modal-form {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 20vh;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: black;
	background-color: rgb(25, 25, 25, 0.4);
}

.input-box {
	display: flex;
	align-items: center;
	gap: 20px;
	background-color: #cbd5e1;
	padding: var(--padding);
}

form label {
	width: 15%;
	text-align: right;
}

.field {
	padding: 20px 10px;
	border-radius: 10px;
	border: none;
	width: 80%;
	background-color: #f8fafc;
	box-shadow: 1px 1px 5px #94a3b8;
	font-size: 1.5rem;
}

.form {
	display: grid;
	align-items: center;
	background-color: #cbd5e1;
	margin: auto;
	width: max(60%, 500px);
	padding: 10px;
	gap: 5px;
	box-shadow: 0px 0px 5px black;
}

.form label {
	margin: 0;
}

form {
	display: grid;
	padding: 50px 10px;
}

.close {
	margin: 0px;
	margin-left: auto;
	border-radius: 10%;
	padding: 0px 10px;
	font-size: 1rem;
	background-color: #cbd5e1;
}

.close:hover {
	transform: scale(1.1);
}

#btn-submit {
	padding: 10px 30px;
	background-color: #f8fafc;
	box-shadow: 1px 1px 5px #94a3b8;
}

.card button {
	background-color: #cbd5e1;
	box-shadow: 1px 1px 5px #94a3b8;
	padding: 10px;
	border-radius: 15px;
	font-size: 1rem;
}

/* The switch */
.switch {
	margin: auto;
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	transition: 0.4s;
}

input:checked + .slider {
	background-color: #2196f3;
	box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

/* The switch CSS ends */
